@using Microsoft.AspNetCore.Http.Extensions
@model CleanKludge.Api.Responses.Articles.ArticleResponse
@{
    ViewBag.Title = Model.Summary.Title;
    ViewBag.Description = Model.Summary;
    ViewBag.Keywords = string.Join(",", Model.Summary.Tags);
}

@section scripts
{
    <script>
        var disqus_config = function () {
            this.page.url = '@Context.Request.GetDisplayUrl()';
            this.page.identifier = '@Model.Summary.Identifier';
            this.page.title = '@Model.Summary.Title'; 
        };
    
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//cleankludge.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
}

<section>
    <article>
        <h1 class="background-highlight2">@Model.Summary.Title</h1>
        <h2>By @Model.Summary.Author on @Model.Summary.Created.ToString("dd/MM/yyyy")</h2>
        <article class="container">
        </article>
        <h2>Comments</h2>
        <article class="container">
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </article>
    </article>
</section>