@using CleanKludge.Api.Responses
@using CleanKludge.Api.Responses.Articles
@model CleanKludge.Api.Responses.Articles.GroupedContentSummaries

@{
    ViewBag.Description = "View all " + ViewData[nameof(Location)] + " posts";
    ViewBag.Keywords = "Posts,CleanKludge";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn").click(function () {
                window.location.href = "@(Url.Action("Posts", "Content", ViewData[nameof(Location)]))?groupBy=" + $(this).find('input').val();
            });
        });
    </script>
}

<section>
    <h1 class="background-highlight2">@ViewData[nameof(Location)]</h1>
    <div class="container">
        <div class="text-center">
            <div class="btn-group text-center" data-toggle="buttons">
                <label class="btn @(Model.GroupedBy == GroupedBy.Date ? "active" : "")">
                    <input type="radio" name="options" autocomplete="off" value="@GroupedBy.Date" @(Model.GroupedBy == GroupedBy.Date ? "checked" : "") /> By Date
                </label>
                <label class="btn @(Model.GroupedBy == GroupedBy.Category ? "active" : "")">
                    <input type="radio" name="options" autocomplete="off" value="@GroupedBy.Category" @(Model.GroupedBy == GroupedBy.Category ? "checked" : "")/>By Category
                </label>
            </div>
        </div>
        <div id="grouped-results">
            @if (Model.Groups == null || Model.Groups.Count == 0)
            {
                <div  class="row">
                    <article class="col-md-12 text-center">None</article>
                </div>
            }
            else
            {
                 foreach (var row in Model.Groups)
                 {
                     <div class="row">
                         @foreach (var item in row)
                         {
                             <article class="col-md-4">
                                 <h2 class="background-highlight">@item.Key</h2>
                                 <div>
                                     <ul class="list">
                                         @foreach (var summary in item.Value)
                                         {
                                             <li>
                                                 <ul class="list-inline">
                                                     <li>
                                                         <a asp-controller="Content" asp-action="Post" asp-all-route-data='@(new Dictionary<string, string> { { "reference", summary.Identifier.ToLower() }, { nameof(Location).ToLower(), summary.Area.ToLower() } })'>
                                                             
                                                             @if(summary.Enabled)
                                                             {
                                                                 @summary.Title
                                                             }
                                                             else
                                                             {
                                                                 <span class="strikethrough">@summary.Title</span>
                                                             }
                                                         </a>
                                                     </li>
                                                 </ul>

                                             </li>
                                         }
                                     </ul>
                                 </div>
                             </article>
                         }
                     </div>
                 }
            }
        </div>
    </div>
</section>