@using CleanKludge.Api.Responses.Articles
@{
    ViewBag.Description = "Welcome to Clean Kludge";
    ViewBag.Keywords = "CleanKludge";
}

<section>
    <h1 class="background-highlight2">Welcome to Clean Kludge!</h1>

    <div class="container">
        <div class="equal">
            <article class="col-sm-6 clean-definition definition">
                <div>
                    <h4 class="bold align-left">Clean</h4>
                    <p class="bold small">/kliːn/</p>
                    <p class="italics">adjective (Code)</p>
                    <ol style="padding-left: 21px">
                        <li>Working code that is easy to understand, modify and test.</li>
                        <li>Looks like it was written by someone who cares. There is nothing obvious that you can do to make it better.</li>
                    </ol>
                </div>
            </article>
            <article class="col-sm-6 definition">
                <div>
                    <h4 class="bold align-left">kludge</h4>
                    <p class="bold small">/klʌdʒ,kluːdʒ/</p>
                    <p class="italics">noun (Code)</p>
                    <ol style="padding-left: 21px">
                        <li>
                            A workaround or quick-and-dirty solution that is clumsy, inelegant, difficult to extend and hard to maintain, yet an effective and quick solution to a problem.
                        </li>
                    </ol>
                </div>
            </article>
        </div>
    </div>
</section>

<section>
    <article>
        <h2 class="row">Latest Posts</h2>
        @foreach (var summary in Model.Summaries)
        {
            <article class="container">
                <a title="@summary.Title" asp-controller="Content" asp-action="Post" asp-all-route-data="@(new Dictionary<string, string> { { nameof(Location).ToLower(), summary.Area.ToLower() }, { "reference", summary.Identifier.ToLower() } })">
                    <h2 class="background-highlight clickable">@summary.Title</h2>
                </a>
                <p class="center">
                    By @summary.Author on @summary.Created.ToString("dd/MM/yyyy")
                </p>
                <div>
                    <p>@summary.Description</p>
                </div>
            </article>
        }
    </article>
</section>