@using CleanKludge.Api.Responses.Articles
@{
    ViewBag.Description = "Welcome to Clean Kludge";
    ViewBag.Keywords = "CleanKludge";
}

<section class="container-fluid">
    <div class="row">
        <h1 class="background-highlight2 col-sm-12">Welcome to Clean Kludge!</h1>
    </div>
</section>

<section class="container">
    <div class="row">
        <article class="col-sm-6">
            <div class="definition">
                <h4 class="bold align-left">Clean</h4>
                <p class="bold small">/kliːn/</p>
                <p class="italics">adjective (Code)</p>
                <ol style="padding-left: 21px">
                    <li>Working code that is easy to understand, modify and test.</li>
                    <li>Looks like it was written by someone who cares.</li>
                </ol>
            </div>
        </article>
        <article class="col-sm-6">
            <div class="definition">
                <h4 class="bold align-left">kludge</h4>
                <p class="bold small">/klʌdʒ,kluːdʒ/</p>
                <p class="italics">noun (Code)</p>
                <ol style="padding-left: 21px">
                    <li>
                        A workaround or quick-and-dirty solution that is clumsy, inelegant, difficult to extend and hard to maintain, yet an effective and quick solution to a problem.
                    </li>
                </ol>
            </div>
        </article>
    </div>
</section>

<section class="container">
    <div class="row">
        <h2 class="col-sm-12">Latest Posts</h2>
    </div>
    @foreach (var summary in Model.Summaries)
    {
        <div class="row">
            <a class="col-sm-12" title="@summary.Title" asp-controller="Content" asp-action="Post" asp-all-route-data="@(new Dictionary<string, string> { { nameof(Location).ToLower(), summary.Area.ToLower() }, { "reference", summary.Identifier.ToLower() } })">
                <h2 class="background-highlight clickable">@summary.Title</h2>
            </a>
        </div>
        <div class="row">
            <p class="col-sm-12 center">
                By @summary.Author on @summary.Created.ToString("dd/MM/yyyy")
            </p>
        </div>
        <div class="row">
            <article class="col-sm-12">
                <div>
                    <p>@summary.Description</p>
                </div>
            </article>
        </div>
    }
</section>